@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.container{
    background-color:lightsteelblue;
    background-size:cover;
    height:100vh;
}
.para{
    color:black;
    font-family:Roboto;
    font-size:20px;
    margin-left:50px;
}
.anchor{
    text-decoration: none;
    color:white;
    /* background-color: blue; */
  }
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-left:50px;
    
  }
  .head{
    font-style:italic;
    margin-left:50px;
    padding-top:50px;
  }
